@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

/* Fancy custom scrollbar styling */
*::-webkit-scrollbar {
  width: 10px; /* Wider scrollbar for better visibility */
}

*::-webkit-scrollbar-track {
  background: #1f1f1f; /* Dark background for the track */
  border-radius: 10px; /* Rounded track for a smooth look */
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #767676, #505050); /* Gradient for a polished effect */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid #1f1f1f; /* Adds a bit of spacing from the track */
  transition: background 0.3s ease, border-color 0.3s ease; /* Smooth transition for hover effects */
}

*::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #a1a1a1, #767676); /* Lighter gradient on hover */
  border-color: #3a3a3a; /* Subtle border change on hover */
}

/* Firefox scrollbar styling */
* {
  scrollbar-width: thin;
  scrollbar-color: #767676 #1f1f1f; /* Thumb and track colors for Firefox */
}
